#result ul,li{
  list-style:none;
}
#result li{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin:0;
  padding:2px;
}
#result li .catlink {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    color: #2271b1;
    text-align: left;
    padding: 3px;
    cursor: pointer;
}
#result li .catlink:hover{
  background-color:#f2f2f2;
}
